<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp72.Properties.Settings.YazilimYapimiProjeConnectionString"
            connectionString="Data Source=DESKTOP-2EB8G19;Initial Catalog=YazilimYapimiProje;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>